---
layout: default
---

<div class="home py-4 py-md-5">


  {% if paginator.page == 1 %}
  <div class="row">
    <div class="col-12">
      <div class="card"><h1 class="greetings">Hi, I'm Artur. 👋</h1></div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <article class="post">I'm a <b>Thumbnail Designer</b>. To get your YouTube videos clicked, you need amazing and eyecatching thumbnails.
        <br>I will create such a thumbnail that is guaranteed to <b>boost your YouTube views</b> 🚀.
        <br><br>
        👉 If you're interested, just check out my <b>latest work.</b>
        </article>
      </div>
    </div>
    {% endif %}

  <div class="row">
    {% for post in paginator.posts %}
      <div class="col-12 col-md-6 col-lg-4">
       <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
        <div class="card rounded overflow-hidden">
          <div class="image">
            {% include picture-th.html %}
          </div>
        </div>
      </a>
      </div>
    {% endfor %}
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}</span>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>

</div>
