<div class="col-md-4 mt20">
  <!-- <div class="post-img">
    {% if page.image %}
    <img
      width="600"
      class="rounded"
      src="{{page.image | relative_url}}"
      alt="{{page.title}}"
    />
    {% endif %}
  </div> -->



  <div class="mt10 recent">
    <h2>Related Thumbnails</h2>
    <ul>
      {% assign maxRelated = 4 %}
      {% assign minCommonTags =  2 %}
      {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for tag in post.tags %}
            {% if post.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}
            <li>
              <p>
                <a href="{{ post.url  | relative_url }}">{% include picture-th.html %}</a>

              </p>
            </li>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}

        {% endfor %}

    </ul>
  </div>



  <!-- <div class="mt10 recent">
    <h2>Recent articles</h2>
    <ul>
      {% for post in site.related_posts limit:3 %}

      <li>
        <p>
          <a href="{{ post.url  | relative_url }}">
            <img
            width="600"
            class="rounded"
            src="{{post.image | relative_url}}"
            alt="{{post.title}}"
            /></a>
          <a href="{{ post.url  | relative_url }}">
          {{ post.title }}</a>
        </p>
      </li>

      {% endfor %}
    </ul>
  </div> -->
  {% if site.fb-like-box %}
  <div class="mt10">
    <div
      class="fb-page"
      data-href="https://www.facebook.com/webjeda/"
      data-width="400"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="true"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/webjeda/"
        class="fb-xfbml-parse-ignore"
      >
        <a href="{{site.fb-page-url}}">{{site.fb-page-title}}</a>
      </blockquote>
    </div>
  </div>
  {% endif %}
  <br />
</div>
