---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <article class="post">
      <header class="post-header">
        {% if page.big-title == "yes" %}
        <h1 class="post-title big-title">{{ page.title }}</h1>
        {% else %}
        <h1 class="post-title">{{ page.title }}</h1>
        {% endif %}
      </header>

      <div class="post-content">{{ content }}</div>
    </article>
  </div>
{% comment %}
{% include sidebar.html %}
{% endcomment %}
</div>

{% include fb-script.html %}
